## Community detection for all metropolitan areas

In [116]:
import pandas as pd
import numpy as np
import geopandas as gpd
import seaborn as sns
import networkx as nx

import scipy

import matplotlib.cm as cm
import matplotlib.pyplot as plt
import json
import community as community_louvain
from copy import deepcopy
# from modularity_maximization.utils import get_modularity

from itertools import product

import networkx.algorithms.community as nx_comm

%matplotlib inline

In [98]:
# ez tolti be az octave cell magicet
%load_ext oct2py.ipython

The oct2py.ipython extension is already loaded. To reload it, use:
  %reload_ext oct2py.ipython

In [10]:
from oct2py import octave
# octave.addpath('/ModularitySpaGN.m')

OSError: octave-cli not found, please see README

In [5]:
import oct2py

ModuleNotFoundError: No module named 'oct2py'

### data

In [99]:
# data IN
mobility = pd.read_csv("../data/usageousers_city_mobility_CT_networks.rpt.gz") ## A MOBILITY HÁLÓBÓL SZÁMOLOK POSITION-T, AZÉRT KELL!

follow_hh = pd.read_csv("../data/usageousers_city_follower_CT_HH_networks.rpt.gz")
follow_hh = follow_hh.rename(columns={"tract_home.1": "tract_home_1"})

cbsacode = pd.read_csv("../data/cbsacode_shortname_tracts.csv",sep=";", index_col=0)

In [106]:
tract_sum = cbsacode.groupby('cbsacode')[['cbsacode']].count() # number of tracts per city
tract_sum = tract_sum.rename(columns={'cbsacode': 'sum_tracts'})

In [102]:
# unique values in the network counted by side of edge

mob_u_h = mobility.tract_home.tolist()
mob_u_w = mobility.tract_work.tolist()
u_geoid_mob = set([*mob_u_h,*mob_u_w])
cbsacode['in_mob'] = cbsacode.geoid.isin(u_geoid_mob).astype(int)

fol_u_h = follow_hh.tract_home.tolist()
fol_u_h1 = follow_hh.tract_home_1.tolist()
u_geoid_fol = set([*fol_u_h,*fol_u_h1])
cbsacode['in_fol'] = cbsacode.geoid.isin(u_geoid_fol).astype(int)

In [113]:
netw_count = cbsacode.groupby('cbsacode')[['in_mob','in_fol']].sum()

In [114]:
city_df = pd.merge(tract_sum, netw_count, left_index=True, right_index=True)

In [ ]:
nx_comm.modularity()

G = nx.barbell_graph(3, 0)

nx_comm.modularity(G, [{0, 1, 2}, {3, 4, 5}])
0.35714285714285715

nx_comm.modularity(G, nx_comm.label_propagation_communities(G))
0.35714285714285715

In [115]:
city_df

          sum_tracts  in_mob  in_fol
cbsacode
12060.0          947     947     940
12420.0          348     348     344
12580.0          674     674     666
13820.0          263     263     261
14460.0          990     990     983
15380.0          295     295     292
16740.0          536     536     528
16980.0         2201    2201    2176
17140.0          495     495     492
17460.0          632     632     625
18140.0          430     430     423
19100.0         1320    1320    1299
19740.0          606     605     551
19820.0         1284    1284    1262
25540.0          287     287     284
26420.0         1067    1067    1058
26900.0          396     396     392
27260.0          258     258     252
28140.0          512     512     503
29820.0          485     485     472
31080.0         2890    2890    2838
31140.0          304     304     302
32820.0          310     310     302
33100.0         1194    1193    1156
33340.0          428     428     417
33460.0          786     786     777
34980.0          377     377     374
35380.0          394     394     384
35620.0         4609    4609    4386
36420.0          357     357     344
36740.0          387     387     373
37980.0         1462    1462    1447
38060.0          975     975     922
38300.0          699     699     688
38900.0          488     488     475
39300.0          366     366     363
39580.0          222     222     221
40060.0          290     290     288
40140.0          819     819     793
40900.0          478     478     441
41180.0          614     614     603
41620.0          221     221     218
41700.0          454     454     449
41740.0          626     626     606
41860.0          970     970     946
41940.0          383     383     358
42660.0          718     718     707
45300.0          724     724     654
47260.0          411     411     403
47900.0         1349    1349    1339

In [ ]:
mobility.groupby('cbsacode')

In [31]:
mobility.groupby('cbsacode')[['tract_home']].nunique()

          tract_home
cbsacode
12060            947
12420            349
12580            674
13820            263
14460            990
15380            295
16740            536
16980           2201
17140            495
17460            632
18140            430
19100           1320
19740            605
19820           1287
25540            287
26420           1068
26900            396
27260            258
28140            512
29820            485
31080           2896
31140            304
32820            310
33100           1194
33340            428
33460            786
34980            377
35380            394
35620           4614
36420            357
36740            387
37980           1462
38060            975
38300            702
38900            489
39300            367
39580            222
40060            290
40140            819
40900            478
41180            614
41620            221
41700            454
41740            627
41860            970
41940            382
42660            718
45300            725
47260            411
47900           1349

In [12]:
tract = mobility.groupby('tract_home')[['cnt']].sum()

In [13]:
tract

                    cnt
tract_home
14000US01007010001    9
14000US01007010002   14
14000US01007010003   10
14000US01007010004   22
14000US01009050101   21
...                 ...
14000US55133204301    7
14000US55133204302    9
14000US55133204400    7
14000US55133204501    2
14000US55133204502   17

[38343 rows x 1 columns]

In [ ]:
follow_hh = follow_hh.merge(tract_outdeg_mob, left_on='tract_home', right_index=True)

N = np.matrix([tract_outdeg_mob.loc[k].iloc[0] for k in g_fol_hh.nodes()]).T
# modify N